/Model Scenario A3 - SS minmax Solution/
/Model Model A3-SS Solution/
/Model Model A3-BB Solution/
/Model Model A3-BS Solution/
/Model Model A3-SB Solution/
/Model Base (Scenario A1) Solution/
/Model Scenario A2 Solution/
